@layer theme, base, components, utilities;

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);

@layer base {
	:root {
		--background: #190000;
		--foreground: #ffffff;
		--dont-use: #a80000;
	}
	body {
		background: var(--background);
		color: var(--foreground);
	}
	h1 {
		font-size: 50px;
	}
	button {
		background-color: var(--foreground);
		border-radius: 10px;
		padding: 5px;
		min-height: 25px;
		text-align: center;
		color: var(--background);
		margin: 5px;
	}
}

@import "tailwindcss/utilities.css" layer(utilities);
