@layer base {
	:root {
		--background: #360000;
		--foreground: #ffffff;
	}
	body {
		background: var(--background);
		color: var(--foreground);
		font-family: var(--font-body), sans-serif;
	}
	.body {
		font-family: var(--font-body), sans-serif;
	}
	.display {
		font-family: var(--font-display), serif;
	}
	.apple {
		font-family: var(--font-apple), sans-serif;
	}
	h1 {
		font-size: 50px;
		font-family: var(--font-display), serif;
	}
	h2 {
		font-size: 30px;
		font-family: var(--font-body), sans-serif;
	}
	h3 {
		font-size: 24px;
		font-family: var(--font-body), sans-serif;
	}
	h4 {
		font-size: 20px;
		font-family: var(--font-body), sans-serif;
	}
	h5 {
		font-size: 18px;
		font-family: var(--font-body), sans-serif;
	}
	h6 {
		font-size: 16px;
		font-family: var(--font-body), sans-serif;
	}

	button {
		background-color: var(--foreground);
		border-radius: 10px;
		padding: 5px;
		min-height: 25px;
		text-align: center;
		color: var(--background);
		margin: 5px;
	}
	button:hover {
		cursor: pointer;
	}

	a {
		transition-duration: 0.1s;
	}
	a:hover {
		text-decoration: underline;
	}
	a.sidenav-link,
	a.sidenav-link:hover {
		text-decoration: none;
	}
}
