.sectionHeading {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #ffdfdf;
	font-family: var(--font-display), serif;
}

.pageSection {
	padding: 10px;
}

.savesTable {
	border-collapse: separate;
	border-spacing: 10px 5px;
}

.fightButton {
	transition:
		background-color 0.25s ease-in-out,
		color 0.25s ease-in-out;
	background-color: lightcoral;
}

.fightButton:hover {
	background-color: #5e0000;
	color: #ffffff;
}
